language: minimal

services:
  - docker

before_install:
  - docker build -t diditvelliz/anywhere .

deploy:
  provider: script
  script: bash docker_push
  on:
    tags: true

notifications:
  email: "diditvelliz@gmail.com"
  on_success: never
  on_failure: always
