<caption>Welcome to anywhere!</caption>

<table id="table-info" style="margin-bottom:30px;">
    <tr>
        <td style="width: 20%">Table</td>
        <td style="width: 1%">:</td>
        <td style="width: 79%">Sample</td>
    </tr>
</table>

<table id="any-table">
    <tr>
        <th>Nama</th>
        <th>Umur</th>
        <th>TTL</th>
        <th>Hobi</th>
        <th>Alamat</th>
    </tr>
    <!--{!biodata}-->
    <tr>
        <td>{!nama}</td>
        <td>{!umur}</td>
        <td>{!dob}</td>
        <td>{!hobi}</td>
        <td>{!alamat}</td>
    </tr>
    <!--{/biodata}-->
</table>